*{
    margin: 0;
    padding: 0;
}
.bckimage,.wrapper{
    position: absolute;
}
.wrapper{
   font-family: "Lucida Console", "Courier New", monospace;
   text-align: center;
   /* background-color:rgb(243, 120, 182) ; */
   padding-top:40px;
   padding-bottom:40px;
   width: 100%;
   height: 100%;
   
}
.bckimage{
    width: 100%;
    height: 300vh;
    object-fit: cover;
    
}

h3{
    background-color: aquamarine;
    display: inline;
    border-radius: 10px;
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
   text-shadow: 2px 2px 30px  salmon;
   box-shadow: 10px 5px 30px #21d849,
               0px 5px 30px #21d849,
               -10px 5px 30px #21d849;
    padding: 10px;
}

.unit{
    margin: 40px;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;

}

.unit strong{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.unit p{
    margin: 30px;
    display: none;
    border-radius: 10px;
}
.unit strong:hover + p{
    display: block;
    box-shadow:
    20px 5px 40px #CF77F3,
      0px 5px 40px #21d849,
     -20px 5px 40px #2AC9DB;
     background-color: azure;
}

u{
    color: blue;
    text-align: left;
}