*{
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}
.bckimage,.wrapper{
    position: absolute;
}
.wrapper{
   font-family: "Lucida Console", "Courier New", monospace;
   text-align: center;
   /* background-color:rgb(243, 120, 182) ; */
   padding-top:40px;
   padding-bottom:40px;
   width: 100%;
   height: 100%;
   
}
.bckimage{
    width: 100%;
    height: 400vh;
    object-fit: cover;
    
}

h3{
    position: relative;
    background-color: aquamarine;
    display: inline;
    border-radius: 10px;
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
   text-shadow: 2px 2px 30px  salmon;
   box-shadow: 10px 5px 30px #21d849,
               0px 5px 30px #21d849,
               -10px 5px 30px #21d849;
    padding: 10px;
    z-index: 0;
}

.unit{
    margin: 40px;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    transition:2s ; 
}

.unit strong{
    background-color: aqua;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.unit :hover {
    animation: rooh 3s;
    
}
@keyframes rooh {
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.2);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}
.unit p{
    margin: 30px;
    display: none;
    border-radius: 10px;
    transition: all 1s;
}
.unit:hover p{
    display: block;
    box-shadow:
    20px 5px 40px #CF77F3,
      0px 5px 40px #21d849,
     -20px 5px 40px #2AC9DB;
     background-color: azure;
     transform: scale(1);
     transition: 2s;

}

u{
    color: blue;
    text-align: left;
}

h3::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(188, 28, 57, 0.308);
    transform-origin: left;
    transition: all 1s;
    transform: scaleX(0);
    border-radius: 10px;
    z-index: 1;
}
h3:hover::before{
    transform: scaleX(1);
}